.othello_whiteScore img {
    max-width: 6.5vw;
}

.othello_blackScore img {
    max-width: 6.9vw;
}

.othello_score_box {
  background-color: #252525;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30vw;
  max-height: 7vw;
  border-radius: 1vw;
}

.othello_score {
    padding-top: 1vw;
    justify-content: center;
    display: flex;
    margin-bottom: 1vw;
}

.othello_score_text_white {
    color: #fff;
    font-size: 1vw;
    margin-left: .5vw;
    padding-right: 5vw;
}

.othello_score_text_black {
    color: #fff;
    font-size: 1vw;
    margin-right: .5vw;
    padding-left: .5vw;
  }