.othello_information {
    margin-top: 4vw;
}

.othello_information h1 {
    font-size: var(--header-size);
    font-weight: var(--header-weight);
    background: linear-gradient(to right, #c0d4d0 25%, #5bc25b 50%, #4a20e0 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.othello_information h2 {
    padding-top: 3vw;
    font-size: var(--subheader-size);
    font-weight: var(--subheader-weight);
    color: white;
    text-align: center;
}

.othello_rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12vw;
    margin-right: 12vw;
}

.othello_rules p {
    font-family: var(--font-family);
    font-style: normal;
    font-family: normal;
    font-size: var(--text-size);

    line-height: var(--text-line-height);
    color: white;

    letter-spacing: var(--letter-spacing);
    text-align: center;
    padding-top: 1vw;
}

.othello_rules img {
    width: 12vw;
    margin: auto;
    padding-top: 1vw;
}