.othello_square{
    width: 4vw; /* Adjust the width of the button */
    height: 4vw; /* Adjust the height of the button */
    background-color: #089464; /* Set the background color */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a cursor pointer on hover */
    margin: .075vw;
    cursor: default;
  }

.othello_square img{
    width: 4vw;
  }

.othello_black img {
    margin-top: -1.1vw;
}