.othello_board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 32.5vw;
    margin-left: 32.5vw;
    margin-top: 1vw;
}
.othello_board square {
    margin: .1vw;
}

.othello_play {
    margin-top: 0vw;
}