.othello_board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 26rem;
    margin-left: 26rem;
  }
.othello_board square {
    margin: 0.5rem;
}

.othello_play {
    margin-top: 1rem;
}